.carousel{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 20px;
}

.imageContainer{
    width: 100%;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

.imageContainer:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
}

.carouselImage{
    width: 100%;
    height: auto;
}

.infoContainer{
    padding: 0.75rem;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.icon{
    content: '';
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    transition: ease .4s;
    background-color: #32363f;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon:hover{
    background-color: #414853;
}

.infoContainer h2{
    display: block;
    font-size: 0.95rem;
    color: #111827;
    margin-bottom: 4px;
}

.infoContainer span{
    font-size: 0.82rem;
    color: #6b7280;
}