.spot {
  display: block;
  margin: 0px;
  padding: 8px;
  border-radius: 8px;
  transition: all ease 0.3s;
}
.spot:hover {
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}
.spot .productWrapper .compare-buttons {
  margin-bottom: 15px;
}
.spot .productWrapper .compare-buttons a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #525252;
}
.spot .productWrapper .compare-buttons a.compare-hidden {
  display: none;
}
.spot .productWrapper .productImage {
  position: relative;
  border: none;
  font-size: unset;
  height: auto !important;
  margin: 0px;
}
.spot .productWrapper .productImage::before {
  display: none;
}
.spot .productWrapper .productImage:hover a .imageOverlay {
  opacity: 1;
  visibility: visible;
}
.spot .productWrapper .productImage:hover .spot__variants {
  display: block;
}
.spot .productWrapper .productImage a {
  display: block;
  position: relative;
}
.spot .productWrapper .productImage a img {
  width: 100%;
  border-radius: 0px;
  max-height: 428px;
  object-fit: cover;
  border-radius: 16px;
}
.spot .productWrapper .productImage a .imageOverlay {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 0px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.spot .productWrapper .productImage .productTag {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}
.spot .productWrapper .productImage .productTag div {
  margin-bottom: 5px;
  margin-left: auto;
}
.spot .productWrapper .productImage .productTag div:last-of-type {
  margin-bottom: 0px;
}
.spot .productWrapper .productImage .productTag .tagNew span {
  background-color: var(--background-purple);
  padding: 5px 7px;
  border-radius: 120px;
}
.spot .productWrapper .productImage .productTag .tagFeatured span {
  background-color: var(--background-pink);
}
.spot .productWrapper .productImage .productTag .tagDiscount span {
  background-color: var(--background-light-pink);
  border: 1px solid #DFDFE0;
  color: #0F0F0F;
}
.spot .productWrapper .productImage .productTag div span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0px 6px;
  height: 19px;
  width: max-content;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #0F0F0F;
  line-height: 1;
  letter-spacing: 0.24px;
}
.spot .productWrapper .productImage .MF_card_product {
  display: none;
}
.spot .productWrapper .productContent .p-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spot .productWrapper .productContent .p-content-top .product-stars {
  margin: 15px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.spot .productWrapper .productContent .p-content-top .product-stars span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #525252;
  margin-left: 3px;
  position: relative;
  top: 0.5px;
}
.spot .productWrapper .productContent .p-content-top .product-brand {
  font-size: 14px;
  font-weight: 500;
  color: #7A7A7A;
}
.spot .productWrapper .productContent .productTitle {
  margin: 15px 0px;
  display: flex;
  justify-content: center;
}
.spot .productWrapper .productContent .productTitle h3 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  line-height: 21px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #292929;
  letter-spacing: 0.15px;
  padding: 0px;
  margin: 0px;
  height: 41px;
}
.spot .productWrapper .productContent .productTitle h3 a {
  display: block;
  text-decoration: none;
  line-height: 21px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: #292929;
  text-align: center;
}
.spot .productWrapper .productContent .productPriceWrapper .productPrice {
  color: unset;
  height: 58px;
  font-family: unset;
  font-size: unset;
  font-weight: unset;
  line-height: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices {
  border-top: 1px solid rgba(0, 0, 0, 0.1098039216);
  padding-top: 15px;
  width: 90%;
}
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .pricePromotion,
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .priceBefore,
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .priceNormal {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #868E96;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: line-through;
  text-align: left;
}
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .priceBefore {
  margin-bottom: 6px;
  color: #8F8F8F;
}
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .priceNormal,
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .pricePromotion {
  font-weight: 600;
  font-size: 18px;
  color: var(--background-purple);
  text-decoration: none;
}
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .product-payment {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #525252;
  width: 100%;
  margin-top: 6px;
  text-align: center;
}
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .product-payment br,
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .product-payment .txt-forma-pagamento {
  display: none;
}
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .product-payment > .txt-corparcelas {
  margin-left: 0px;
}
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .product-payment span,
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .product-payment strong,
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .product-payment b {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #525252;
}
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .product-payment span.operadora,
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .product-payment strong.operadora,
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .product-payment b.operadora {
  text-transform: lowercase;
}
.spot .productWrapper .productContent .productPriceWrapper .productPrice .out-of-stock {
  display: block;
  line-height: 1;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  color: #525252;
  text-align: left;
}
.spot .productWrapper .productContent .productBuy {
  margin-top: 15px;
  display: none;
}
.spot .productWrapper .productContent .productBuy a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: #F5F5F5;
  background-color: var(--background-pink);
  width: 100%;
  height: 45px;
  border-radius: 8px;
  transition: 0.5s;
}
.spot .productWrapper .productContent .productBuy a:hover {
  background-color: #68686e;
}

@media screen and (max-width: 1023px) {
  .spot .productWrapper .productImage a img {
    max-height: 236px;
  }
  .spot .productWrapper .productImage:hover a .imageOverlay {
    opacity: 0;
    visibility: hidden;
  }
  .spot .productWrapper .productContent .productPriceWrapper .productPrice {
    height: 52px;
  }
  .spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .pricePromotion,
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .priceBefore,
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .priceNormal {
    font-size: 12px;
  }
  .spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .priceNormal,
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .pricePromotion {
    font-size: 16px;
  }
  .spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .product-payment {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .product-payment span,
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .product-payment strong,
.spot .productWrapper .productContent .productPriceWrapper .productPrice .prices .product-payment b {
    font-size: 12px;
  }
  .spot .productWrapper .productContent .productBuy {
    display: none;
  }
  .spot .productWrapper .productContent .productBuy a:hover {
    background-color: var(--background-purple);
  }
}