
.newsContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}
@media (max-width: 1023px){
    .newsContainer{
        padding: 0px 0px 0px 20px;
    }
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    width: 100%;
}

@media only screen
and (min-width: 1023px)
and (max-width: 1650px){
    .container{
        max-width: 1180px;
    }
}

.containerSpots{
    display: flex;
    gap: 15px;
}

.gridSpots{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.productSpot{
    width: 24%;
    position: relative;
}

@media (max-width: 768px){
    .productSpot{
        width: 100%;
    }
}

.productSpot:hover .containerButtonsHover{
    opacity: 1;
    pointer-events: auto;
}

.containerTitle{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 30px;
}

.containerTitle span{
    color: #757575;
    font-size: 16px;
}

.containerInfo{
    margin-top: 10px;
    width: max-content !important;
}

@media (max-width: 768px){
    .containerInfo{
        width: 100% !important;
    }
    .containerTitle span{
        font-size: 13px;
    }
}

.containerInfo span{
    font-weight: 400;
    font-size: 14px;
    color: #B8B8B8;
}

.containerImg img{
    width: 100%;
    height: auto;
}

.containerButtonsHover {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
    height: 134px;
    border-radius: 8px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.5) 40%,  rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0) 100%);
}

@media (max-width: 768px){
    .containerButtonsHover{
        top: unset;
        left: unset;
        transform: unset;
        opacity: 1;
        position: unset;
        background: unset;
        height: 60px;
        
    }
}

@media only screen
and (min-width: 1023px)
and (max-width: 1650px){
    .containerButtonsHover{
        top: 6%;
    }
}


.spotButtons{
    position: relative;
    top: 60px;
    width: 100%;
    padding: 0px 15px;
}

@media (max-width: 768px){
    .spotButtons{
        top: 10px;
        padding: 0px;
    }
    .spotButtons p{
        display: none;
    }
}

.spotButtons p{
    font-size: 12px;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    gap: 8px;
}

.buttons a {
    text-decoration: underline;
    background-color: rgb(203 203 203 / 28%);
    border-radius: 8px;
    padding: 8px 12px;
}

.buttonContainer{
    gap: 6px;
    padding: 10px 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 8px;
}

@media (max-width: 1023px){
    .containerImg img{
        width: revert-layer;
        width: 100%;
    }
}

@media only screen
and (min-width: 1023px)
and (max-width: 1650px){
    .containerImg img{
        width: 100%;
        height: auto;
    }
    
}