.productDescription {
  margin: 42px 0;
  container-type: inline-size;
  width: 100%;
}


.descriptionTitle {
  width: 100%;
  max-width: 100%;
  padding: 40px 15px 0px 15px;
  margin-bottom: 55px;
  margin-top: 40px;
}

.descriptionTitle::before{
  border-top: 1px solid #ccc;
  content: "";
  display: block;
  height: auto;
  left: 0;
  position: absolute;
  top: -40px;
  width: 100%;
}

.descriptionTitle h2 {
  display: block;
  line-height: 1;
  font-weight: 700;
  font-size: 24px;
  color: #0F0F0F;
  text-align: left;
  position: relative;
}

.descriptionTitle h2::before {
  display: block;
  content: '';
  width: 100%;
  border-top: 1px solid #CCCCCC;
  position: absolute;
  left: 0px;
  top: -40px;
}

.descriptionWrapper {
  width: 100%;
  max-width: 100%;
  padding: 0px 15px;
  font-weight: 400;
  font-size: 16px;
  color: #0F0F0F;
}

.descriptionWrapper h2,
.descriptionWrapper h3,
.descriptionWrapper h4,
.descriptionWrapper h5,
.descriptionWrapper h6 {
  font-size: 20px;
  font-weight: 700;
}

.descriptionWrapper p,
.descriptionWrapper a {
  font-weight: 400;
  font-size: 16px;
  color: #0F0F0F;
  line-height: 25px;
  text-decoration: none;
  margin-bottom: 25px;
}

.descriptionWrapper p:last-of-type,
.descriptionWrapper a:last-of-type {
  margin-bottom: 0px;
}

.descriptionWrapper a {
  color: #333333;
  text-decoration: none;
  margin: 0px;
}

.descriptionWrapper table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

.descriptionWrapper table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.descriptionWrapper table tbody tr:nth-child(even) {
  background-color: #dbdbdb;
}

.descriptionWrapper table td {
  padding: 32px 15px;
  font-weight: 500;
  font-size: 16px;
  color: #0F0F0F;
}

.descriptionWrapper table td:first-of-type {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 35%;
}

.descriptionWrapper table td:last-of-type {
  font-weight: 400;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 65%;
}

/* Tabs fixas */
.abasProduto {
  margin-bottom: 20px;
}

.abasProduto ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.abasProduto li {
  padding: 8px 12px;
  background: #f0f0f0;
}

.abasProduto li.aberta {
  background: #ccc;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1023px) {
  .descriptionWrapper table td {
    padding: 32px 8px;
    font-size: 14px;
  }

  .descriptionWrapper table td:first-of-type {
    width: 30%;
  }

  .descriptionWrapper table td:last-of-type {
    width: 70%;
  }
}
