

.sidebar {
  background: #fff;
  width: 90%;
  padding: 0 24px;
  position: fixed;
  bottom: 1rem;
  border: 1px solid #F5F5F5;
  box-shadow: 0px 2px 4px 0px #00000014;

  left: 50%;
  transform: translateX(-50%);
  border-radius: 160px;

  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.closed {
  display: flex;
  gap: 32px;
  align-items: center;
  height: 58px;
}

.open {
  width: 480px;
  flex-direction: column;
}



#pagina-tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

#pagina-tabs button {
  background: #f3f4f6;
  border: none;
  padding: 8px 16px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: background 0.2s;
}

#pagina-tabs button.active {
  background: #6366f1;
  color: black;
}


@media (max-width: 768px){
  .sidebar{
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 0 16px;
    gap: 1.5rem;
    justify-content: space-between;
  }
}