.tabs{
  gap: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tabs button{
  width: fit-content;
  height: 37px;
  min-height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 18px;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.2s;
  min-width: fit-content;
  background-color: #F5F5F5;
  color: #7A7A7A;
  border: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.tabs button:hover{
  background-color: #E6F9FF;
  color: #004799;
}

.tabs button.active{
  background: linear-gradient(92.65deg, #0096FE 0%, #0078CC 100%);
  color: white;
}