.homeShowcase {
  margin: 40px 0;
  container-type: inline-size;
  width: 100%;
}
.homeShowcase .showcaseContainer .showcaseTitle {
  width: 100%;
  max-width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}
.homeShowcase .showcaseContainer .showcaseTitle h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 27px;
  line-height: 120%;
  letter-spacing: 0%;
}
.homeShowcase .showcaseContainer .showcaseTitle span{
  font-size: 16px;
  color: #18181a99;
}
.homeShowcase .showcaseContainer .showcaseWrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
}
.homeShowcase .showcaseContainer .showcaseWrapper .showcaseSwiper {
  margin: 0px -8px;
}
.homeShowcase .showcaseContainer .showcaseWrapper .showcaseSwiper .swiper__wrapper .swiper__slide {
  padding: 8px ;
}
.homeShowcase .showcaseContainer .showcaseWrapper .swiperShowcasePagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 8px;
  border-radius: 0px;
  padding: 0px;
  background: #ffffff;
  margin-top: 40px;
}
.homeShowcase .showcaseContainer .showcaseWrapper .swiperShowcasePagination .swiperPaginationBullet {
  width: 11px;
  height: 11px;
  background-color: #CCCCCC;
  opacity: 1;
  border: none;
  border-radius: 100%;
  margin: 0px 8px 0px 0px;
  transition: 0.5s;
}
.homeShowcase .showcaseContainer .showcaseWrapper .swiperShowcasePagination .swiperPaginationBullet:last-of-type {
  margin: 0px;
}
.homeShowcase .showcaseContainer .showcaseWrapper .swiperShowcasePagination .swiperPaginationBullet.swiperPaginationBulletActive {
  background-color: var(--color-black);
}
.homeShowcase .showcaseContainer .showcaseWrapper .swiperShowcaseButtonPrev,
.homeShowcase .showcaseContainer .showcaseWrapper .swiperShowcaseButtonNext {
  position: absolute;
  transform: translateY(-50%);
  right: 43px;
  width: 27px;
  height: 27px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 16px;
}

.homeShowcase .showcaseContainer .showcaseWrapper .swiperShowcaseButtonNext {
  left: unset;
  right: 5px;
  justify-content: center;
}


.homeShowcase .swiper__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

@container(max-width: 768px){
  .homeShowcase .swiper__wrapper {
    justify-content: flex-start;
  }
  .homeShowcase .showcaseContainer .showcaseTitle{
    padding: 0 5px;
  }
}

.homeShowcase .swiper__wrapper .swiper__slide{
  width: 100%;

}
.home__showcase .swiper__wrapper .swiper__slide {
  padding: 8px;
  }
.homeShowcase .swiper__wrapper .swiper__slide > *{
  width: 100%;
  min-width: 254px;
}

.homeShowcase .swiper__wrapper .swiper__slide:nth-child(n+3) {
  display: none;
}

@container (min-width: 768px){
  .homeShowcase .swiper__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .homeShowcase .swiper__wrapper .swiper__slide {
    display: block !important;
  }
  .homeShowcase .swiper__wrapper .swiper__slide:nth-child(n+4) {
    display: none !important;
  }
}

@container (max-width: 1023px) {
  .homeShowcase .showcaseContainer .showcaseWrapper {
    padding: 0px;
  }
  .homeShowcase .showcaseContainer {
    padding: 0px;
    padding-left: 15px;
  }
  .homeShowcase .showcaseContainer .showcaseWrapper .showcaseSwiper {
    margin: 0px -4px;
  }
  .homeShowcase .showcaseContainer .showcaseWrapper .showcaseSwiper .swiper__wrapper .swiper__slide {
    padding: 0px 4px;
  }
  .homeShowcase .showcaseContainer .showcaseWrapper .swiperShowcaseButtonPrev,
.homeShowcase .showcaseContainer .showcaseWrapper .swiperShowcaseButtonNext {
    top: unset;
    transform: unset;
    bottom: -11px;
  }
  .homeShowcase .showcaseContainer .showcaseWrapper .swiperShowcaseButtonNext {
    left: unset;
    right: 20px;
  }
  .homeShowcase .showcaseContainer .showcaseWrapper .swiperShowcaseButtonPrev {
    right: 55px;
  }
}