.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: calc(90% - 5px);
}

@media only screen
and (min-width: 524px)
and (max-width: 1023px){
    .banner{
        width: 100%;
    }
}

.bannerimg {
    width: 100%;
    height: auto;
    margin-top: 50px;
}
@media (max-width: 768px){
    .banner{
        width: 100%;
    }
    .bannerimg{
        margin-top: 0px;
    }
}