body{
  height: 100dvh;
  background: #f3f4f6;
}
.sidebar label{
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #525252;
}

.sidebar input, .sidebar select, .wake-popup input{
  width: 100%;
  height: 47px;
  border-radius: 20px;
  border: 1px solid #CCCCCC;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0 24px;

  font-weight: 400;
  font-size: 14.4px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #000;
}

.sidebar select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18L15 12L9 6' stroke='%237A7A7A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 24px center; 
    background-size: 24px; 
    
    padding-right: 30px;
}

.sidebar input::placeholder, .sidebar select::placeholder{
  color: #CCCCCC;
}

.sidebar select option{
  color: black;
}

.sidebar button, .sidebar__header button{
  width: fit-content;
  padding: 0 32px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  gap: 12px;
  border-radius: 8px;
  background-color: var(--color-blue);
  color: white;

  font-weight: 400;
  font-size: 13.6px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  border: 1px solid var(--color-blue);
  cursor: pointer;
  transition: .5s;
  min-width: 190px;
}

.sidebar button:hover, .sidebar__header button:hover{
  background-color: transparent;
  color: var(--color-blue);
}

.sidebar button:hover svg path, .sidebar__header button:hover svg path{ 
  stroke: var(--color-blue);
}

.sidebar button.outline, .sidebar__header button.outline{
  background-color: transparent;
  color: var(--color-blue);
}

.sidebar button.outline:hover, .sidebar__header button.outline:hover{
  background-color: var(--color-blue);
  color: white;
}

.sidebar button.outline:hover svg path, .sidebar button.outline:hover svg, .sidebar__header button.outline:hover svg path, .sidebar__header button.outline:hover svg{
  fill: white;
}

.sidebar .icon{
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  width: fit-content;
  height: fit-content;
  min-width: fit-content;
  padding: 0;
  transition: .5s;
}

.sidebar .header{
  display: block;
  margin-top: 24px;
}

.sidebar .sidebar__main{
  display: grid;
  gap: 24px;
  padding-top: 24px;
  grid-template-columns: repeat(3,1fr);
  padding-bottom: 32px;
}

.sidebar .field{
  display: flex;
  flex-direction: column;
  gap: 9px;
  position: relative;
}

.sidebar .icon:hover path, .sidebar .icon.active path{
  stroke: var(--color-blue)
}

h3{
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #525252;
  margin: 0 0 13px;
}

.sidebar::-webkit-scrollbar-corner {
  background: var(--color-blue);
}

.sidebar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: transparent;
}

.sidebar::-webkit-scrollbar
{
  width: 6px !important;
  background-color: transparent;
}

.sidebar::-webkit-scrollbar-thumb
{
  background-color: var(--color-blue);
}