/* Select Plataforma */
.form-group label {
  font-size: 0.9rem;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}

.select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  background: #fff;
  color: #000;
}