
.newsContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 40px 20px;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    width: 100%;
}

@media only screen
and (min-width: 1023px)
and (max-width: 1650px){
    .container{
        max-width: 1180px;
    }
}

.containerSpots{
    display: flex;
    gap: 15px;
}

@media (max-width: 768px){
}

.containerTitle{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 30px;
}

.title{
    color: #fff;
}

.containerTitle span{
    color: #b9b0b0;
    font-size: 16px;
}

@media (max-width: 768px){
    .containerTitle span{
        font-size: 13px;
    }
}

@media (max-width: 768px){
}

@media only screen
and (min-width: 1023px)
and (max-width: 1650px){
}

@media (max-width: 768px){
}

@media (max-width: 1023px){
}

@media only screen
and (min-width: 1023px)
and (max-width: 1650px){
    
}