
  .carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
  
  .duplicateBtn, .remoteBtn{
    position: absolute;
    top: 8px;
    right: calc(22px + 16px);
    width: 22px;
    height: 22px;
    min-height: unset;
    min-width: auto;
    padding: 0;
    background: #2C7C1C;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    transition: background 0.2s;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .duplicateBtn svg path, .remoteBtn svg path{
    stroke: inherit !important;
  }

  .duplicateBtn:hover{
    background: #0d946e;
  }

  .containerImg{
    position: relative;
  }

  .remoteBtn{
    background: #BB4344;
    right: 8px;
  }

  .remoteBtn:hover{
    background: #b02a37;
  }
