.home__banner--side {
  margin-bottom: 80px;
  width: 100%;
  container-type: inline-size;
}

.home__banner--side .banner__container .banner__row {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

@container (max-width: 768px) {
  .home__banner--side .banner__container .banner__row {
    flex-direction: column;
  }
}

.home__banner--side .banner__container .banner__row .banner__item {
  width: 50%;
  max-width: 50%;
  padding: 0px 15px;
}

.home__banner--side .banner__container .banner__row .banner__item a {
  display: block;
  line-height: 1;
  text-decoration: none;
}

.home__banner--side .banner__container .banner__row .banner__item a img {
  width: 100%;
  max-width: 915px;
  height: auto;
  border-radius: 16px;
  display: block;
  margin: 0px auto;
}

@container (max-width: 1023px) {
  .home__banner--side {
    margin-bottom: 40px;
  }

  .home__banner--side .banner__container .banner__row .banner__item {
    width: 100%;
    max-width: 100%;
  }

  .home__banner--side .banner__container .banner__row .banner__item:last-of-type {
    margin-top: 25px;
  }
}

@container (min-width: 1024px) and (max-width: 1199px) {
  .home__banner--side .banner__container .banner__row {
    margin-left: -5px;
    margin-right: -5px;
  }

  .home__banner--side .banner__container .banner__row .banner__item {
    padding: 0px 5px;
  }
}
