.color{
  display: inline-block;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;
}

.field .colorWrapper .colorInput{
  margin: 0 !important;

  background-color: #F5F5F5;
  border-radius: 12px !important;
  padding: 10px 18px !important;

  font-weight: 600;
  font-size: 14px;
  color: #525252;
  line-height: 100%;
  width: fit-content !important;
  border: none !important;
}

.colorWrapper{
  display: flex;
  align-items: center;
  gap: 12px;
}

.colorPicker{
  position: absolute;
  top: -5rem;
  left: 2rem;
  background: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  width: 232px;
}