.spot {
  position: relative;
  width: 300px;
}

.tagDiscount {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 6px 8px;
  background: var(--background-secundary-color);
  color: var(--text-color-secundary);
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 10;
}

.productImage {
  width: 100%;
  height: 373px;
  position: relative;
}

.productImage img {
  height: 100%;
  object-fit: cover;
}

.sizesContainer {
  display: flex;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  align-items: center;
  left: 5px;
  right: 5px;
  bottom: 4px;
  gap: 2px;
  transition: all 0.2s ease-in;
}

.productImage:hover .sizesContainer {
  visibility: visible;
  opacity: 1;
}

.sizeItem {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.sizeItem:hover {
  background: var(--background-secundary-color);
}

.sizeItem span {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-primary-color);
}

.sizeItem:hover span {
  color: var(--text-color-secundary);
}

/* .active-sizeItem {
  background: var(--background-secundary-color);
  color: var(--text-color-secundary);
} */



.infoProduct {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0px;
}

.infoProduct p {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-primary-color);
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.priceBefore {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  text-decoration: line-through;
  color: #b8b8b8;
  position: relative;
}

.priceBefore::after {
  content: '';
  width: 2px;
  height: 10px;
  background: var(--text-primary-color);
  color: #000;
  display: block;
}

.priceAfter {
  font-weight: 600;
}

.installments {
  font-weight: 400;
}

.installments span{
  font-weight: 400;
}

@container (max-width: 760px) {
  .spot {
    width: 264px;
  }

  .productImage {
    height: 330px;
  }
}